# Concatenar dados de arquivos Data Logger em um único arquivo CSV

Este notebook deve ser executado na pasta raíz onde se encontram as demais pastas com arquivos de data logger. Exemplo:

- Pasta raíz
    - concatenar_dados.ipynb
    - RB01 
    - RB10
    - RB11
   
A variável principal que guarda o conteúdo concatenado é a `output`.

---

### Prepara lista de arquivos a serem concatenados
Alterar a variável `mypath` para a pasta desejada.

In [1]:
# Gets list of files to be concatenated
from os import listdir
from os.path import isfile, join

mypath = './RB11/'

onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

### Função para extrair conteúdo dos arquivos em uma lista de strings

In [2]:
# Function to extract list of lines from a given file
def file_to_list(filename):
    with open(filename) as f:
        output = f.readlines()
    
    if (output[1] == 'Design Analysis\n'):  # Checks if it is a valid file. Criterion: it has this in line 2
        output = output[9:]  # Ignores header lines
        return output
    else:  # If it's a invalid file, returns an empty list
        return []

In [3]:
# Loop to process and concatenate multiple files 
output = []
out = []
for file in onlyfiles:
    
    filename = mypath + file
    
    try:
        out = file_to_list(filename)
        print('OK: File successfully processed: ' + filename)
    except:
        print('ERROR: File not found: ' + filename)
    
    output = output + out
    #print('Length of file: ' + str(len(out))
    #print('Length of ongoing concatenation: ' + str(len(output))

ERROR: File not found: ./RB11/.DS_Store
OK: File successfully processed: ./RB11/Bug_RB11.A04
OK: File successfully processed: ./RB11/Bug_RB11.A05
OK: File successfully processed: ./RB11/Bug_RB11.A06
OK: File successfully processed: ./RB11/Bug_RB11.A07
OK: File successfully processed: ./RB11/Bug_RB11.A08
OK: File successfully processed: ./RB11/Bug_RB11.A09
OK: File successfully processed: ./RB11/Bug_RB11.A10
OK: File successfully processed: ./RB11/Bug_RB11.A11
OK: File successfully processed: ./RB11/Bug_RB11.A12
OK: File successfully processed: ./RB11/Bug_RB11.A13
OK: File successfully processed: ./RB11/Bug_RB11.A14
OK: File successfully processed: ./RB11/Bug_RB11.A15
OK: File successfully processed: ./RB11/Bug_RB11.A16
OK: File successfully processed: ./RB11/Bug_RB11.A17
OK: File successfully processed: ./RB11/Bug_RB11.A18
OK: File successfully processed: ./RB11/Bug_RB11.A19
OK: File successfully processed: ./RB11/Bug_RB11.A20
OK: File successfully processed: ./RB11/Bug_RB11.A21
OK: File successfully processed: ./RB11/Bug_RB11.A22
OK: File successfully processed: ./RB11/Bug_RB11.A23
OK: File successfully processed: ./RB11/Bug_RB11.A24
OK: File successfully processed: ./RB11/Bug_RB11.A25
OK: File successfully processed: ./RB11/Bug_RB11.A26
OK: File successfully processed: ./RB11/Bug_RB11.A27
OK: File successfully processed: ./RB11/Bug_RB11.A28
OK: File successfully processed: ./RB11/Bug_RB11.A29
OK: File successfully processed: ./RB11/Bug_RB11.A30
OK: File successfully processed: ./RB11/Bug_RB11.A31
OK: File successfully processed: ./RB11/Bug_RB11.A32
OK: File successfully processed: ./RB11/Bug_RB11.A33
OK: File successfully processed: ./RB11/Bug_RB11.A34
OK: File successfully processed: ./RB11/Bug_RB11.A35
OK: File successfully processed: ./RB11/Bug_RB11.A36

### Trocar separador para vírgula
Se os dados não são separados por vírgula, substitui espaços por vírgulas (isso é feito para poder salvar o arquivo final em formato CSV). Rotina implementada não é perfeita e pode dar erros para outros arquivos além dos RBxx.

In [4]:
if ',' not in output[0]:
    print('Converting into commas...')
    output = [line.replace(' ', ',').replace(',,,', ',').replace(',,', ',').replace(',,',',') for line in output]

Converting into commas...

### Salvar dados concatenados em um arquivo

In [5]:
# Procedure to get header
filename = mypath + onlyfiles[1]

with open(filename) as f:
    header_file = f.readlines()

header = header_file[6]
print(header)

# Fixes commas if needed
if ',' not in header:
    header = header.replace('   ', ',').lstrip(',')

header = header.replace(' ','')
print(header)

output = [header] + output

    Date     Time     Batt    SDI01    SDI07     Ana1

Date,Time,Batt,SDI01,SDI07,Ana1

In [6]:
!cd $mypath; mkdir concatenado  # Creates new folder 'concatenado' to store the resulting file

output_filename = mypath + 'concatenado/dados_concatenados.csv'

with open(output_filename, 'w') as f:
    for line in output:
        f.write(line)

mkdir: concatenado: File exists

### Manipular dados com Pandas
Testes iniciais com Pandas para verificar a integridade do resultado.

O notebook `analise-dados.ipynb` traz mais manipulações.

In [7]:
import pandas as pd

df = pd.read_csv(output_filename)
df

            Date      Time   Batt  SDI01  SDI07   Ana1
0       16/12/11  10:30:00  13.43   2.44   17.6  0.060
1       16/12/11  10:40:00  13.51   2.36   17.7  0.059
2       16/12/11  10:50:00  13.59   2.39   17.8  0.059
3       16/12/11  11:00:00  13.67   2.25   17.9  0.059
4       16/12/11  11:10:00  13.67   2.40   18.1  0.059
5       16/12/11  11:20:00  13.67   2.13   18.3  0.059
6       16/12/11  11:30:00  13.74   2.26   18.4  0.059
7       16/12/11  11:40:00  13.67   2.20   18.6  0.059
8       16/12/11  11:50:00  13.74   2.50   18.6  0.059
9       16/12/11  12:00:00  13.67   2.30   18.9  0.059
10      16/12/11  12:10:00  13.74   2.37   19.0  0.059
11      16/12/11  12:20:00  13.74   2.18   19.1  0.059
12      16/12/11  12:30:00  13.74   2.29   19.4  0.059
13      16/12/11  12:40:00  13.82   2.43   19.7  0.059
14      16/12/11  12:50:00  13.82   2.51   19.9  0.060
15      16/12/11  13:00:00  13.74   2.39   20.0  0.060
16      16/12/11  13:10:00  13.82   2.40   20.2  0.060
17      16/12/11  13:20:00  13.74   2.24   20.2  0.060
18      16/12/11  13:30:00  13.67   2.12   20.2  0.060
19      16/12/11  13:40:00  13.67   2.33   20.2  0.060
20      16/12/11  13:50:00  13.67   2.32   20.2  0.060
21      16/12/11  14:00:00  13.74   2.27   20.3  0.060
22      16/12/11  14:10:00  13.67   2.30   20.3  0.060
23      16/12/11  14:20:00  13.59   2.25   20.4  0.060
24      16/12/11  14:30:00  13.59   2.45   20.3  0.060
25      16/12/11  14:40:00  13.67   2.25   20.3  0.060
26      16/12/11  14:50:00  13.59   2.55   20.3  0.060
27      16/12/11  15:00:00  13.59   2.31   20.3  0.060
28      16/12/11  15:10:00  13.67   2.20   20.3  0.060
29      16/12/11  15:20:00  13.67   2.37   20.3  0.060
...          ...       ...    ...    ...    ...    ...
107408  07/01/14  08:50:00  12.56   1.65   18.3  0.086
107409  07/01/14  09:00:00  12.64   1.75   18.4  0.086
107410  07/01/14  09:10:00  12.64   1.68   18.4  0.085
107411  07/01/14  09:20:00  12.64   1.72   18.4  0.085
107412  07/01/14  09:30:00  12.72   1.70   18.4  0.084
107413  07/01/14  09:40:00  12.64   1.74   18.5  0.084
107414  07/01/14  09:50:00  12.64   4.22   18.5  0.084
107415  07/01/14  10:00:00  12.64   1.53   18.6  0.084
107416  07/01/14  10:10:00  12.64   1.68   18.6  0.083
107417  07/01/14  10:20:00  12.64   1.88   18.6  0.083
107418  07/01/14  10:30:00  12.72   1.76   18.7  0.084
107419  07/01/14  10:40:00  12.64   1.76   18.7  0.083
107420  07/01/14  10:50:00  12.72   4.14   18.7  0.083
107421  07/01/14  11:00:00  12.72   1.63   18.8  0.083
107422  07/01/14  11:10:00  12.80   1.46   18.9  0.083
107423  07/01/14  11:20:00  12.72   1.74   18.9  0.083
107424  07/01/14  11:30:00  12.72   1.64   19.0  0.082
107425  07/01/14  11:40:00  12.72   1.65   19.1  0.082
107426  07/01/14  11:50:00  12.72   1.53   19.1  0.083
107427  07/01/14  12:00:00  12.72   1.45   19.1  0.082
107428  07/01/14  12:10:00  12.72   1.64   19.1  0.082
107429  07/01/14  12:20:00  12.64   1.45   19.1  0.082
107430  07/01/14  12:30:00  12.64   1.73   19.1  0.082
107431  07/01/14  12:40:00  12.64   1.53   19.1  0.082
107432  07/01/14  12:50:00  12.64   1.60   19.1  0.083
107433  07/01/14  13:00:00  12.64   1.42   19.1  0.082
107434  07/01/14  13:10:00  12.64   1.26   19.1  0.082
107435  07/01/14  13:20:00  12.64   1.81   19.1  0.083
107436  07/01/14  13:30:00  12.64   1.26   19.2  0.082
107437  07/01/14  13:40:00  12.72   1.59   19.2  0.082

[107438 rows x 6 columns]

In [8]:
df.iloc[3180]  # Sample test

Date     07/01/12
Time     12:30:00
Batt        13.35
SDI01         8.6
SDI07        18.2
Ana1        0.111
Name: 3180, dtype: object

In [9]:
df.head()

       Date      Time   Batt  SDI01  SDI07   Ana1
0  16/12/11  10:30:00  13.43   2.44   17.6  0.060
1  16/12/11  10:40:00  13.51   2.36   17.7  0.059
2  16/12/11  10:50:00  13.59   2.39   17.8  0.059
3  16/12/11  11:00:00  13.67   2.25   17.9  0.059
4  16/12/11  11:10:00  13.67   2.40   18.1  0.059